@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.LoaderPosition {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
}
.PageWrapper {
  height: 100vh;
}
.PageContent {
}
.TagLineWrapper {
  margin-top: 2vw;
  margin-left: 18vw;
  margin-right: 18vw;
  height: 20vw;
  border-radius: 0.6vw;
  background: rgba(79, 192, 240, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 0.01vw solid rgba(255, 255, 255, 0.18);
}
.TagLine {
  position: relative;
  top: 2vw;
  text-align: center;
  color: white;
  font-family: "Great Vibes", cursive;
  font-weight: 900;
  font-size: 3vw;
}
.CarpeDiem {
  position: relative;
  top: 3vw;
  left: 10vw;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
}
.CarpeDiemDesc {
  position: relative;
  top: 3vw;
  left: 10vw;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9vw;
}
